## PROJECT 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("anime.csv")
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [4]:
df.loc[1]["Title"]

'Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473,707 members'

In [5]:
def extract_episodes(txt):
    check = False
    data = ""
    for i in txt:
        if i ==")":
            break
        if i == "(":
            check = True
            continue
        if check:
            data += i
    return data

In [6]:
# Make a New Column for Episode Count
df["Episodes"] = df["Title"].apply(extract_episodes)
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps

In [7]:
df["Episodes"] = df["Episodes"].str.replace(" eps","")
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10       64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07       24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06       13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06       51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05       10

In [8]:
df.loc[0]["Episodes"]

'64'

- Now Our Job Is To Convert Str into Int

In [9]:
df["Episodes"] = df["Episodes"].astype(int)
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [10]:
# Make a New Column for Time Stamp
df.loc[0]["Title"]

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [11]:
def extract_Timestamp(txt):
    check = False
    data = ""
    for i in range(len(txt)):
        if txt[i] ==")":
            for j in range(i+1,i+20):
                data += txt[j]
            return data

In [12]:
df["Timestamp"] = df["Title"].apply(extract_Timestamp)
df.head()

,Rank,Title,Score,Episodes,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [13]:
# Which anime has the maximum number of episodes?
df[df["Episodes"] == df["Episodes"].max()]["Title"]

15    GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
Name: Title, dtype: object

In [14]:
# Which anime has the minimum number of episodes?
df[df["Episodes"] == df["Episodes"].min()]["Title"]

6     Gintama: The FinalMovie (1 eps)Jan 2021 - Jan ...
16    Koe no KatachiMovie (1 eps)Sep 2016 - Sep 2016...
20    Gintama Movie 2: Kanketsu-hen - Yorozuya yo Ei...
21    Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
25    Kimi no Na wa.Movie (1 eps)Aug 2016 - Aug 2016...
26    Kaguya-sama wa Kokurasetai: First Kiss wa Owar...
28    The First Slam DunkMovie (1 eps)Dec 2022 - Dec...
36    Kizumonogatari III: Reiketsu-henMovie (1 eps)J...
39    Sen to Chihiro no KamikakushiMovie (1 eps)Jul ...
Name: Title, dtype: object

In [18]:
#which anime has the highest score
df.loc[df["Score"].idxmax()]

Rank                                                         1
Title        Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Score                                                      9.1
Episodes                                                    64
Timestamp                                  Apr 2009 - Jul 2010
Name: 0, dtype: object

In [16]:
#give me top 5 highest scoring anime
df.sort_values(by="Score",ascending=False).head()

,Rank,Title,Score,Episodes,Timestamp
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [19]:
#which anime has the highest episode count
df.loc[df["Episodes"].idxmax()]

Rank                                                        16
Title        GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...
Score                                                     8.94
Episodes                                                   201
Timestamp                                  Apr 2006 - Mar 2010
Name: 15, dtype: object

In [20]:
#animes with top 5 episode count
df.sort_values(by="Episodes",ascending=False).head()

,Rank,Title,Score,Episodes,Timestamp
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005

In [26]:
#which is the longest running anime
df.loc[df["Timestamp"].idxmax()]

Rank                                                        22
Title        Violet Evergarden MovieMovie (1 eps)Sep 2020 -...
Score                                                     8.89
Episodes                                                     1
Timestamp                                  Sep 2020 - Sep 2020
Name: 21, dtype: object