## PIVOT TABLE

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Date': pd.date_range('2023-01-01', periods=20),
    'Product': ['A', 'B', 'C', 'D'] * 5,
    'Region': ['East', 'West', 'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West',
               'North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North', 'South'],
    'Sales': np.random.randint(100, 1000, 20),
    'Units': np.random.randint(10, 100, 20),
    'Rep': ['Pankaj', 'Rahul', 'Aditya', 'Ayush', 'Pankaj', 'Rahul', 'Aditya', 'Ayush', 'Pankaj', 'Rahul',
            'Aditya', 'Ayush', 'Pankaj', 'Rahul', 'Aditya', 'Ayush', 'Pankaj', 'Rahul', 'Aditya', 'Ayush']
}

df = pd.DataFrame(data)

df['Month'] = df['Date'].dt.month_name()
df['Quarter'] = 'Q' + df['Date'].dt.quarter.astype(str)
df

         Date Product Region  Sales  Units     Rep    Month Quarter
0  2023-01-01       A   East    863     66  Pankaj  January      Q1
1  2023-01-02       B   West    674     83   Rahul  January      Q1
2  2023-01-03       C  North    815     29  Aditya  January      Q1
3  2023-01-04       D  South    127     20   Ayush  January      Q1
4  2023-01-05       A   East    328     48  Pankaj  January      Q1
5  2023-01-06       B   West    367     37   Rahul  January      Q1
6  2023-01-07       C  North    737     94  Aditya  January      Q1
7  2023-01-08       D  South    664     73   Ayush  January      Q1
8  2023-01-09       A   East    461     16  Pankaj  January      Q1
9  2023-01-10       B   West    107     77   Rahul  January      Q1
10 2023-01-11       C  North    660     12  Aditya  January      Q1
11 2023-01-12       D  South    809     23   Ayush  January      Q1
12 2023-01-13       A   East    753     20  Pankaj  January      Q1
13 2023-01-14       B   West    341     90   Rahul  January      Q1
14 2023-01-15       C  North    102     27  Aditya  January      Q1
15 2023-01-16       D  South    911     76   Ayush  January      Q1
16 2023-01-17       A   East    940     80  Pankaj  January      Q1
17 2023-01-18       B   West    179     55   Rahul  January      Q1
18 2023-01-19       C  North    823     30  Aditya  January      Q1
19 2023-01-20       D  South    857     87   Ayush  January      Q1